export(
addGadaToAromaAffymetrix,
splitDataBeadStudio,
setupGADAIllumina,
setupGADAaffy,
setupGADAgeneral,       
BackwardElimination,
SBL,
plotRatio,
setupParGADAIllumina,
setupParGADAaffy,
parSBL,
parBE,
plotWG,
getAlteredProbes,
findNormalLimits,
WextIextToSegments, #RPR: I need it here for Aroma.affymetrix       
exportToBED,
discriminCNV,
rankVariables,
getNamesProbes,
dudi.acm.fortran,
multiCNVassoc,
getPvalBH,
sortPopData,
reduceMatrix,
getChromosomeDat,
getReducedData
)


importFrom(utils, data)

S3method(plotRatio,setupGADA)
S3method(plotRatio,BackwardElimination)
S3method(plotRatio,parGADA)

S3method(print,SBL)
S3method(print,BackwardElimination)
S3method(print,setupGADA)
S3method(print,summaryParGADA)
S3method(plot,summaryParGADA)

S3method(summary,BackwardElimination)
S3method(summary,parGADA)
S3method(summary,list)

S3method(labels,parGADA)
S3method(labels,summaryParGADA)

S3method(print,cnv.discrimin)
S3method(plot,cnv.discrimin)
S3method(plot,acm)

S3method(plot,multiCNVassoc)

# not exported:
  # drawChromosome
  # drawChromosomeZoom
  # plotlogRatio
  # selectSegment
  # collapseInfo
  # WextIextToSegments
  # SBL.fit
  # BackwardElimination.fit
  # plapply
  # countAltered.i
  # GadaInAromaAffymetrix
  # findNormalLimits
  # ... more (Alejandro, MCDA)
  # ... more for plots GWAS
