useDynLib(gada, .registration = TRUE)

export(
setupGADA,
BackwardElimination,
SBL,
WextIextToSegments,
setupParGADA,
parSBL,
parBE,
findNormalLimits,
getCNVs,
plotCNVs,
getCounts
)

importFrom("stats", "aggregate", "end", "median", "start")
importFrom("parallel", "mclapply")
importFrom("IRanges", "IRanges")
importFrom("data.table", "fread")
import("GenomicRanges")
import("Gviz")

S3method(print,SBL)
S3method(print,BackwardElimination)
S3method(print,setupGADA)
S3method(print,summaryParGADA)


S3method(summary,BackwardElimination)
S3method(summary,parGADA)
S3method(summary,list)

S3method(labels,parGADA)
S3method(labels,summaryParGADA)

